@page "/"

@*@attribute [Authorize]*@

<div style="margin-left: 20px;">
    <div style="margin-top: 10px;">
        <FluentSelect Id="selectRegion"
                      Position="SelectPosition.Below"
                      Items="@this._regionOptions"
                      OptionText="@(r => r.Text)"
                      OptionValue="@(r => r.Value)"
                      ValueChanged="@( (string selectedRegion) => OnChangeSelectedRegionAsync( selectedRegion ) )" />
    </div>

    <div style="margin-top: 10px">
        <FluentCombobox Id="selectDnis"
                        Placeholder="Please select a DNIS"
                        Disabled="@this._disableDNISSelect"
                        Position="SelectPosition.Below"
                        Items="@this._dnisOptions"
                        OptionText="@(i => i.Text)"
                        OptionValue="@(i => i.Value)"
                        ValueChanged="@( (string selectedDNIS) => OnChangeSelectedDnis( selectedDNIS ) )" />
        <FluentTextArea Style="width: 100%; margin-top: 10px" Value="@this._dnisScript">Script</FluentTextArea>
    </div>

    <div style="margin-top: 10px">
        <FluentDataGrid @ref="GridOfKvps"
                        RowsDataProvider="this._gridItemsProvider"
                        GridTemplateColumns="1fr 1fr 0.5fr 0.4fr 0.4fr"
                        TGridItem=KvpList
                        OnRowFocus="(() => this.OnRowFocus())">

            <TemplateColumn Title="Friendly Name" Align="Align.Left">
                <FluentTextField Style="width: 100%;" @bind-Value="@context.FriendlyName" />
            </TemplateColumn>

            <TemplateColumn Title="Genesys UserData Key" Align="Align.Left">
                <FluentTextField Style="width: 100%;" @bind-Value="@context.GenesysKey" />
            </TemplateColumn>

            <TemplateColumn Title="Is this an Event Attribute?" Align="Align.Center">
                <FluentRadioGroup Orientation="Orientation.Horizontal" Value="@(context.UseAttribute.ToString())">
                    <FluentRadio Value="True">Yes</FluentRadio>
                    <FluentRadio Value="False">No</FluentRadio>
                </FluentRadioGroup>
            </TemplateColumn>

            <TemplateColumn Title="View Order" Align="Align.Center">
                <FluentButton Type="ButtonType.Button"
                              Style="width: 10%; justify-content: center"
                              Disabled=@(Int32.Parse(context.ViewOrder) == (this._kvpList.Count()))
                              @onclick="@(() => OnClickDownArrow(context))">
                    <FluentIcon Name="@FluentIcons.ArrowDown" Size="@IconSize.Size16" />
                </FluentButton>
                <FluentButton Type="ButtonType.Button"
                              Style="width: 10%; justify-content: center"
                              Disabled=@(Int32.Parse(context.ViewOrder) == 1)
                              @onclick="@(() => OnClickUpArrow(context))">
                    <FluentIcon Name="@FluentIcons.ArrowUp" Size="@IconSize.Size16" />
                </FluentButton>
            </TemplateColumn>

            <TemplateColumn Title="Edit" Align="Align.Center">
                <FluentButton Type="ButtonType.Button"
                              Style="width: 10%; justify-content: center"
                              @onclick="@(() => OnClickAdd(context))">
                    <FluentIcon Name="@FluentIcons.Add" Size="@IconSize.Size16" />
                </FluentButton>
                <FluentButton Type="ButtonType.Button"
                              Style="width: 10%; justify-content: center"
                              @onclick="@(() => OnClickDelete(context))">
                    <FluentIcon Name="@FluentIcons.Delete" Size="@IconSize.Size16" />
                </FluentButton>
            </TemplateColumn>

        </FluentDataGrid>
    </div>

    <div style="margin-left: 10px; margin-top: 50px">
        <div>
            <FluentButton Id="buttonSave"
                          Type="ButtonType.Submit"
                          Appearance="Appearance.Accent"
                          Disabled="@this._disableButtons"
                          @onclick="@(() => OnClickSaveAsync())">
                Save all changes
                <FluentIcon Name="@FluentIcons.Save" Color="Color.FillInverse" Slot="start" Size="@IconSize.Size16" />
            </FluentButton>
            <FluentTooltip Anchor="buttonSave" Position=TooltipPosition.Right Delay=600>Saves all changes made in this session</FluentTooltip>
        </div>
        <div>
            <FluentButton Id="buttonUndo"
                          Type="ButtonType.Reset"
                          Appearance="Appearance.Accent"
                          Disabled="@this._disableButtons"
                          @onclick="@(() => OnClickUndoAsync())">
                Undo all changes
                <FluentIcon Name="@FluentIcons.ArrowUndo" Color="Color.FillInverse" Slot="start" Size="@IconSize.Size16" />
            </FluentButton>
            <FluentTooltip Anchor="buttonUndo" Position=TooltipPosition.Right Delay=600>Reverts all changes made since last save</FluentTooltip>
        </div>
    </div>

    <div style="margin-left: 10px; margin-top: 30px">
        <label style="color: red; font-size: medium; white-space: break-spaces"
               for="listBoxKVPs">
            <strong>These are the currently known Genesys Keys.<br />If you are using a value not defined in this list, please ensure that spelling and case-sensitivity are correct.</strong>
        </label>
        <FluentListbox Id="listBoxKVPs"
                       TOption="GenesysKey"
                       Items=@this._genesysKeys
                       Height="200px"
                       Width="300px"
                       OptionDisabled="@(k => k.Disabled)"
                       OptionSelected="@(k => k.Selected)"
                       OptionValue="@(k => k.Value)"
                       OptionText="@(k => k.Text)"
                       @bind-Value="@this._listBoxSelectedValue"
                       @bind-SelectedOption="@this._listboxSelectedItem" />
        <p style="margin-top: 10px;">
            Copy and paste this value into the grid above: @this._listBoxSelectedValue
        </p>
    </div>
</div>
